<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.dao.PersonInfoDao">
    <select id="getPersonById" resultType="com.java.entity.PersonInfo" parameterType="Long">
        select
        user_id,
        s_name,
        birthday,
        gender,
        phone,
        email,
        profile_img,
        customer_flag,
        shop_owner_flag,
        admin_flag,
        create_time,
        last_edit_time,
        enable_status
        from
        tb_person_info
        where
        user_id=#{personId}
    </select>

    <insert id="insertPersonInfo" parameterType="com.java.entity.PersonInfo" useGeneratedKeys="true" keyColumn="user_id"
            keyProperty="userId">
        insert into tb_person_info (s_name,gender,email,profile_img,admin_flag,create_time,last_edit_time,enable_status) values (
          #{sName},#{gender},#{email},#{profileImg},#{adminFlag},#{createTime},#{lastEditTime},#{enableStatus}
        );
    </insert>


</mapper>